@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.eot");
  src: url("./TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.eot");
  src: url("./fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Medium.woff") format("woff"),
    url("./fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.eot");
  src: url("./fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  margin: 0px auto;
  font-family: "TT Lakes", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  min-width: 320px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  color: #1b1c21;
  margin: 0;
}

.header {
  background: #ffffff;
  height: 88px;
  padding: 18.59px 16px;
  width: 100%;
}

.divider {
  background-color: #eaeaea;
  height: 32px;
  width: 2px;
    }

.divider--cyan {
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.link {
  outline: none;
  text-decoration: none;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
    }

 
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__menu-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  margin-right: 16px;
  margin-left: 16px;
}
.header__menu-block:first-of-type   .header__button:first-of-type {
  margin-left: 0;
}
.header__menu-block:last-of-type   .header__button:last-of-type {
  margin-right: 0;
}

.main-section__button > img {
  vertical-align: middle;
}

.main-section__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main-section__navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: auto;
  margin-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
      }

.main-section__navigation ul::-webkit-scrollbar {
  display: none;
}

.main-section__navigation .main-section__link {
  color: #7e7e82;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
  line-height: 24px;
  padding: 8px 16px;
}

.main-section__navigation li:last-of-type a {
  margin-right: 25px;
}

.main-section__navigation .main-section__link:hover,
.main-section__navigation .main-section__link:focus {
  background-color: #ffffff;
  border-color: #b8ffec;
  
}

.main-section__about-us .main-section__button {
  margin-left: 24px;
  margin-right: auto;
}

.main-section__about-us .main-section__button:before {
  content: url("./images/readmoreicon.svg");
  margin-right: 16px;
}


.main-section__about-us {
margin: 0 auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}


.main-section__picture {
  width: 320px;
  height: 176px;
  margin-top: 16px;
  }


@media (min-width: 320px) and (max-width: 767px) {
 
.divider--hidden--mobile {
  display: none;
  }

  .button--hidden--mobile {
    display: none;
  }


.button--hidden--mobile-tablet {
  display: none;
}

h1 {
  margin-left: 12px;
  }

  .main-section__navigation > ul::after {
    content: "";
    position: absolute;
    top: 174;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

 
.main-section__text--hidden-mobile {
  display: none;
}

.main-section__text-container {
  padding-left: 16px;
  padding-right: 16px;
  
}
.main-section__about-us {
margin: 0 auto;

}


}


@media (min-width: 768px) and (max-width: 1119px) {

.button--hidden--mobile-tablet {
  display: none;
}

.main-section__head {
  margin-top: 24px;
  margin-bottom: 32px;
}
h1 {
  margin-left: 20px;
  }

  .main-section__navigation ul::after {
    content: "";
    position: absolute;
    top: 174;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

.header__menu-block:first-of-type > li:last-of-type {
margin-left: 20px;
}

.header__menu-block:nth-of-type(2) > li:nth-of-type(3) {
  margin-right: 20px;
}

.main-section__navigation ul {
  margin-left: 24px;
}

.main-section__text-container {
  line-height: 19px;
  width: 312px;
  height: 160px;
  overflow-y: hidden;
      }

  .main-section__about-us {
    max-width: 1119px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 

   }

   .main-section__picture {
    width: 360px;
    height: 208px;
    border: 2px solid #f8f8f8;
    border-radius: 6px;  
    margin-top: 0px;
    margin-left: 40px;
    
           }

.main-section__button:last-of-type {
 margin-top: 10px;
}


}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .main-section__head {
    margin-top: 42px;
    margin-bottom: 8.37px;
  }
  h1 {
    margin-left: 30px;
      }

body {
  max-width: 1120px;
}
.main-section {
  margin-top: 42px;
}

.main-section__head > .divider {
  width: 3px;
} 

.main-section__head .main-section__button {
  line-height: 24px;
  font-weight: 500;
  color: #1b1c21;
  letter-spacing: 0.2px;
}

.main-section__head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main-section__title {
  margin-left: 26px;
  margin-right: auto;
}

.main-section__head .main-section__button {
  margin-right: 32px;
    }

    .main-section__head .main-section__button img {
      margin-left: 8px;
        }

        .main-section__navigation {
          padding-left: 36px;
          padding-right: 37px;
          margin-top: 15px;
          }
      


.main-section__navigation ul {
line-height: 24px;
margin-left: 16px;
flex-wrap: wrap;


    }

.main-section__navigation .main-section__link {
 font-size: 16px;
 text-align: center;
vertical-align: middle;
height: 24px;
padding: 3px;

}



.main-section__picture {
  width: 531.3px;
  height: 307px;
  border: 2px solid #f8f8f8;
  border-radius: 6px;  
   margin-left: 36px;
   
         }

  .main-section__text-container {
    line-height: 20px;
    width: 490px;
    height: 160px;
    margin-top: 20px;
      }

      .main-section__about-us {
        max-width: 1120px;
        margin: 0 auto;
        padding-left: 34px;
        padding-right: 28px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
        
       }

       .main-section__text--hidden-mobile {
        margin-bottom: 0px;
      }

  .main-section__about-us  .main-section__button {
       margin-top: 13.78px;
  }






}
