@font-face {
  font-family: "TT Lakes"; 
  src: url("./fonts/TTLakes-Regular.eot");
  src: url("./TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.eot");
  src: url("./fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Medium.woff") format("woff"),
    url("./fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.eot");
  src: url("./fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: #f8f8f8;
  margin: 0px;
  font-family: "TT Lakes", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.header {
  background: #ffffff;
  height: 88px;
}

.link {
  outline: none;
  text-decoration: none;
}

.header__link {
  margin-top: 24px;
  margin-bottom: 24px;
}

.header__divider1, 
.header__divider2 {
  background-color: #eaeaea;
  height: 32px;
  width: 2px;
  margin-top: 28px;
  margin-bottom: 28px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  color: #1b1c21;
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.main-section__link {
  color: #7e7e82;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
}

.main-section__link:hover,
.main-section__link:focus {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
}

.main-section__divider {
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
  margin-top: 24px;
  margin-right: 12px;
}


.main-section__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: auto;
}

.main-section__navigation::-webkit-scrollbar {
    display: none;
  }

.main-section__text-container {
    margin-left: 16px;

}


.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: none;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  padding-left: 16px;
}


.main-section__button-container::before {
  content: url("./images/readmoreicon.svg");
  margin-left: 24px;
}

@media (width: 320px) {
  .body {
    width: 320px;
  }
  .main-section__text-container {
    height: 100px;
    width: 288px;
    overflow-y: hidden;
  }

  .main-section__picture {
    box-sizing: border-box;
    width: 320px;
    height: 176px;
  /*   border: 2px solid #FFFFFF;*/
    margin: 16px 0 0 0;
    padding: auto;
  }

  .header__divider1 {
      display: none;
  }

  .hidden {
      display: none;
  }
}

@media (min-width: 321px) and (max-width: 768px) {

    .main-section__about-us {
        display: flex;
        flex-flow: column wrap;
        height: 260px;}

    .main-section__picture {
        box-sizing: border-box;
        width: 360px;
        height: 208px;
      /*   border: 2px solid #FFFFFF;*/
      margin-top: 16px;
        padding: auto;
        background: #F8F8F8;
        border-radius: 6px;
      }

      .main-section__text-container {
        height: 159px;
        width: 312px;
        margin-right: 48px;
        overflow-y: hidden;
    }

    .header__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
              }

     
     .header__menu-block1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
     }

     .header__menu-block2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
     }

     .header__menu-block1 .header__link {
         margin-right: 20px;
         margin-left: 20px;
     }

     .header__menu-block2 .header__link, .header__divider2 {
        margin-right: 16px;
        
     }

}

@media (max-width: 1120px) {
}
